node_modules
vendor
.env
.git
.gitignore
.gitattributes
.dockerignore
Dockerfile
docker-compose*
.editorconfig
.npmrc
README.md
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/*.key
tests
